@model Seminar.Models.Predbiljezbe

@{
    ViewBag.Title = "EditPredbiljezbe";
}

<h2>EditPredbiljezbe</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Predbiljezbe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.IdSeminar, "IdSeminar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdSeminar", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdSeminar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatumPredbiljezbe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatumPredbiljezbe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatumPredbiljezbe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prezime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobitel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobitel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobitel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Prihvacen_Odbijen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prihvacen_Odbijen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prihvacen_Odbijen, "", new { @class = "text-danger" })*@
            <div class="col col-md-offset-2 col-md-10">
                @if(Convert.ToString(ViewBag.statusPredbiljezbe.Prihvacen_Odbijen) == "P")
                {
                <input type="radio" name="Prihvacen_Odbijen" value="P" checked="checked"><label>Prihvaćena  </label>
                <input type="radio" name="Prihvacen_Odbijen" value="O"><label>Odbijen  </label>
               }
               else if(Convert.ToString(ViewBag.statusPredbiljezbe.Prihvacen_Odbijen) == "O")
               {
                <input type="radio" name="Prihvacen_Odbijen" value="P"><label>Prihvaćena  </label>
                <input type="radio" name="Prihvacen_Odbijen" value="O" checked="checked"><label>Odbijen  </label>
               }
               else
               {
                <input type="radio" name="Prihvacen_Odbijen" value="P"><label>Prihvaćena  </label>
                <input type="radio" name="Prihvacen_Odbijen" value="O"><label>Odbijen  </label>
               }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "UvidAndObradaPredbiljezbi")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<link href="~/Content/Lux-bootstrap.css" rel="stylesheet" />